.navigationBar {
  z-index: 110;
  position: sticky;
  width: 100%;
}

.nav {
  background-color: #0D6493;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.logo {
  height: 35px;
  width: 150px;
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.headerRight {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 20px;
}

.headerRight input::placeholder {
  color: #fff;
}

.searchBtn {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  padding: 10px 15px;
  border-radius: 20px;
}

.searchBtn input {
  padding: 0;
  border: none;
  background: transparent;
  color: #fff;
  outline: none;
}

.profileUser {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
}
