.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 1rem; */
}

.section-title {
 color: var(--primary-color);
    align-items: center;
    gap: 16px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    display: flex

}
